# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [2]:
salaries = pd.read_csv('../data/Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
salary_count = salaries[salaries['Salary or Hourly'] == 'Salary'].count()[0]

hourly_count = salaries[salaries['Salary or Hourly'] == 'Hourly'].count()[0]

print(salary_count,hourly_count)

25161 8022

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
dep = set(salaries['Department'])

emp = []

for d in dep: 
    emp.append(salaries[salaries['Department'] == d].count()[0])

dep_emp = pd.DataFrame(list(zip(dep, emp)), 
               columns =['Department', 'Employees']) 
dep_emp

               Department  Employees
0   COMMUNITY DEVELOPMENT        207
1               BUILDINGS        269
2         HUMAN RELATIONS         16
3           ANIMAL CONTRL         81
4            ADMIN HEARNG         39
5                  POLICE      13414
6        FAMILY & SUPPORT        615
7                    OEMC       2102
8       LICENSE APPL COMM          1
9             WATER MGMNT       1879
10       BUSINESS AFFAIRS        171
11                   FIRE       4641
12                 HEALTH        488
13           CITY COUNCIL        411
14       GENERAL SERVICES        980
15              TREASURER         22
16          STREETS & SAN       2198
17          INSPECTOR GEN         87
18          BUDGET & MGMT         46
19                   DoIT         99
20                   COPA        116
21           DISABILITIES         28
22             TRANSPORTN       1140
23      BOARD OF ELECTION        107
24                    LAW        407
25             CITY CLERK         84
26        HUMAN RESOURCES         79
27                FINANCE        560
28       CULTURAL AFFAIRS         65
29               AVIATION       1629
30            PROCUREMENT         92
31         MAYOR'S OFFICE         85
32           POLICE BOARD          2
33        BOARD OF ETHICS          8
34         PUBLIC LIBRARY       1015

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [7]:
from scipy.stats import ttest_1samp

hourly_rates = salaries[salaries['Salary or Hourly'] == 'Hourly']['Hourly Rate']

pomean = 30

p_value_30hourly_rates = ttest_1samp(a = hourly_rates, popmean = 30)[1]

if (p_value_30hourly_rates < 0.05): 
    print('A value of '+str(popmean)+' is very extreme for this sample. P_value = '+str(p_value_30hourly_rates))
else: print('A value of '+str(popmean)+' is common in this sample. P_value = '+str(p_value_30hourly_rates))

NameError: name 'popmean' is not defined

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [13]:
salary_police = salaries[salaries['Department'] == 'POLICE'][salaries['Salary or Hourly'] == 'Salary']['Annual Salary']

popmean = 86000

p_value_86000_salary = ttest_1samp(a = salary_police, popmean = popmean)[1]

if (p_value_86000_salary < 0.05): 
    print('A value of '+str(popmean)+' is very extreme for this sample. P_value = '+str(p_value_86000_salary))
else: print('A value of '+str(popmean)+' is common in this sample. P_value = '+str(p_value_86000_salary))

A value of 86000 is very extreme for this sample. P_value = 0.0020603403550965137

/home/linuxbrew/.linuxbrew/Cellar/jupyterlab/2.0.1/libexec/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

Using the `crosstab` function, find the department that has the most hourly workers.

In [8]:
most_hourly_deps = pd.crosstab(salaries['Department'], salaries['Salary or Hourly']).sort_values(['Hourly'], ascending=0).head(1)

max_hourly_dep = most_hourly_deps.index[0]

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [9]:
hourly_wages_from_max_hourly_dep = salaries[salaries['Department'] == max_hourly_dep][salaries['Salary or Hourly'] == 'Hourly']['Hourly Rate']

popmean = 35

hourly_wages_from_max_hourly_dep.mean()

p_value_wages_max_hourly = ttest_1samp(a = hourly_wages_from_max_hourly_dep, popmean = popmean)[1]

if (p_value_wages_max_hourly < 0.05): 
    print('A value of '+str(popmean)+' is very extreme for this sample. P_value = '+str(p_value_wages_max_hourly))
else: print('A value of '+str(popmean)+' is common in this sample. P_value = '+str(p_value_wages_max_hourly))

A value of 35 is very extreme for this sample. P_value = 3.3378530564707717e-21

/home/linuxbrew/.linuxbrew/Cellar/jupyterlab/2.0.1/libexec/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [12]:
from scipy import stats
stats.t.interval(0.95, (len(hourly_rates)-1), np.mean(hourly_rates), np.std(hourly_rates))

(9.046248541993936, 56.53086689056654)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [15]:
stats.t.interval(0.95, (len(salary_police)-1), np.mean(salary_police), np.std(salary_police))

(50671.60678895816, 122301.22221730862)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: